html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

ul {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
	position: absolute;
	list-style-type: none;
	padding: 0;
}

#base {
	background: white;
	height: 100%;
	width: 100%;
	position: absolute;
}

#slide-one {
	border: blue 2px solid;
	background-color: white;
	height: 100%;
	width: 100%;
	position: absolute;
	left: calc(100% - 15%);
}

#slide-two {
	border: blue 2px solid;
	background-color: white;
	height: 100%;
	width: 100%;
	position: absolute;
	left: calc(100% - 10%);
}

#slide-three {
	border: blue 2px solid;
	background-color: white;
	height: 100%;
	width: 100%;
	position: absolute;
	left: calc(100% - 5%);
}

#slide-one:hover {
	margin-left: -10px;
}

#slide-two:hover {
	margin-left: -10px;
}

#slide-three:hover {
	margin-left: -10px;
}

h1 {
	display: inline-block;
    font-size: 24px;
    color: blue;
    transform: translateY(200%) translateX(-21px) rotate(-90deg);
}

h2 {
	color: blue;
	font-size: 10em;
	margin-left: 1em;
	margin-bottom: 0;
}

p {
	margin-left: 10em;
	margin-right: 40em;
	color: blue;

}

.center {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}